include = ["docs/weave.toml"]

[environment]
title = "{{project_name}}"
subtitle = "{{tag_line}}"

[[call]]
template = "pandoc"
collect = "html"
[call.args]
basename = ["index"]   # add your pages to this list

[[task]]
name = "weave"
description = "Deploy site"
requires = ["#html", "#static"]

