include = ["docs/weave.toml"]

[environment]
title = "{{project_name}}"
subtitle = "{{tag_line}}"

[[call]]
template = "pandoc"
collect = "html"
[call.args]
basename = ["index"]   # add your pages to this list

[[task]]
name = "copy-before-weave"
description = "Copy notebooks, assets, etc. to docs/"
runner = "bash"
script = """
cp notebooks/*.md docs/
cp -r docs/assets docs/site/
"""

[[task]]
name = "weave"
description = "Deploy site"
requires = ["#copy-before-weave", "#html", "#static"]

