Welcome to Entangled! This is the project template for working with Pandoc.

## Features

### Numbered math equations

{% raw %}
[$$a^2 + b^2 = c^2$$]{#eq:pythagoras}
{% endraw %}

For Pythogaras theorem, refer to Eq @{eq:pythagoras}.

### Detail blocks

:::details
## Unfold for more details

More details than you ever wished for.
:::

### Evaluate code blocks

You can evaluate code blocks in your shell. 

``` {.bash .eval}
echo "Hello, World!"
```

