Welcome to Entangled! This is the project template for working with Pandoc.

## Building

To build this template, run

```
brei site
```

The site will appear in `docs/site`.

## Important files

- `docs/index.md` source for this page
- `docs/contents.md` source for the contents on the left
- `docs/weave.toml` build rules for pandoc
- `docs/template` HTML template, including style sheets

## Features

### Numbered math equations

{% raw %}
[$$a^2 + b^2 = c^2$$]{#eq:pythagoras}
{% endraw %}

For Pythogaras theorem, refer to Eq @{eq:pythagoras}.

### Detail blocks

:::details
## Unfold for more details

More details than you ever wished for.
:::

### Evaluate code blocks

You can evaluate code blocks in your shell. 

``` {.bash .eval}
echo "Hello, World!"
```

